/*generales*/

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 10px;
  text-align: center;
  color: darkblue;
  font-weight: bold;
  font-variant: small-caps;
}

h2 {
  padding: 10px;
  color: #e06d27;
  font-weight: bold;
  font-variant: small-caps;
}

h3 {
  padding: 20px;
  color: #f8c941;
  font-weight: bold;
  font-variant: small-caps;
  font-size: large;
  text-align: center;
}
